{% extends "admin/admincontrolnav.html" %}
{% block body%}

<style type="text/css">
	label{
		font-size: 12px;
	}
</style>

   	<div class="row" style="margin-top:15px">
		<div class="col-sm shadow p-3 mb-5 bg-white rounded d-flex justify-content-center">
		
			
     
      <form method="post" action = "{{url_for('AddPartnerProcess')}}" enctype = "multipart/form-data"
      style="margin: 10px">
      <h5 align='center'> ADD New Partner</h5>
<div class='row'>
  <div class="col-sm form-group">
    <label for="EnterpriseName">Enterprise Name</label>
    <input type="text" class="form-control form-control-sm" id="EnterpriseName" aria-describedby="emailHelp" name="EnterpriseName" placeholder="Required" required>
  </div>
  <div class="col-sm form-group">
    <label for="OwnerName">Owner Name</label>
    <input type="text" class="form-control form-control-sm" id="OwnerName" aria-describedby="emailHelp" name="OwnerName" placeholder="Required" required>
  </div>
</div>

<div class='row'>
  <div class="col-sm form-group">
    <label for="Contact1">Contact 1</label>
    <input type="text" class="form-control form-control-sm" id="Contact1" name="Contact1" pattern="[0-9]{10}" placeholder="eg. 8778363637" required>
  </div>

  <div class="col-sm form-group">
    <label for="Contact2">Contact 2 (optional)</label>
    <input type="text" class="form-control form-control-sm" id="Contact2" name="Contact2" pattern="[0-9]{10}"  >
  </div>

  <div class="col-sm form-group">
    <label for="Contact3">Email</label>
    <input type="email" class="form-control form-control-sm" id="Contact3" name="Contact3" placeholder="Required" required>
  </div>
</div>

<div class="row">
  <div class="col-sm form-group">
    <label for="Address1">Address 1</label>
    <input type="text" class="form-control form-control-sm" id="Address1" name="Address" placeholder="Required"required>
  </div>

 
</div>

  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Submit
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          You Are Inserting New Partner?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>



</form>
</div>
</div>




<button type="button" id="PartnerAddedMessagebtn" class="btn btn-danger" data-toggle="modal" data-target="#PartnerAddedMessage" hidden>Remove</button>
<div class="modal fade" id="PartnerAddedMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Partner Successfully Added
      </div>
      
    </div>
  </div>
</div>
{% if elem =='added'  %}
  <script type="text/javascript">
    function PartnerAddedMessage(){
      var btn=document.getElementById('PartnerAddedMessagebtn');
      btn.click()
    }
    PartnerAddedMessage();
  </script>

{% endif %}

{% endblock %}