{% extends "admin/admincontrolnav.html" %}
{% block body%}

<style type="text/css">
	label{
		font-size: 12px;
	}
</style>

   	<div class="row" style="margin-top:15px">
		<div class="col-sm shadow p-3 mb-5 bg-white rounded d-flex justify-content-center">
		
			
     
      <form method="post" action = "{{url_for('upload_file')}}" enctype = "multipart/form-data"
      style="margin: 10px">
      <h5 align='center'> Insert New Light Product</h5>
<div class='row'>
  <div class="col-sm form-group">
    <label for="ProductName">Product Name</label>
    <input type="text" class="form-control form-control-sm" id="ProductName" aria-describedby="emailHelp" name="ProductName" required>
  </div>
  <div class="col-sm form-group">
    <label for="ProductType">Product Type</label>
    <select class="form-control form-control-sm" id="ProductType" name='ProductType'>
    <option selected disabled>Choose...</option>
    <option value="Commercial">Commercial</option>
    <option value="Decorative">Decorative</option>
    <option value="Customized">Customized</option>
  </select>
  </div>
  <div class="col-sm form-group">
    <label for="ProductType1">Application Type</label>
    <select class="form-control form-control-sm" id="ProductType1" name='ProductType1'>
    <option selected disabled>Choose...</option>
    <option value="Wall">Wall </option>
    <option value="Hanging">Hanging </option>
    <option value="Ceiling">Ceiling </option>
    <option value="Chandelier">Chandelier</option>
    <option value="TableLamp">TableLamp</option>
    <option value="Door">OutDoor</option>
    <option value="Floor">Floor</option>
    <option value="Mirror">Mirror</option>
    <option value="Picture">Picture</option>
    
    
    
    
  </select>
  </div>
</div>

<div class='row'>
  <div class="col-sm form-group">
    <label for="ProductBrand">Brand</label>
    <select class="form-control form-control-sm" id="ProductBrand" name='ProductBrand'>
    <option selected disabled>Choose Brand...</option>
    <option value="Syska">Syska</option>
    <option value="Philips">Philips</option>
    <option value="Eveready">Eveready</option>
    <option value="others">Lighthub</option>

  </select>
  </div>


  <div class="col-sm form-group">
    <label for="ProductPrice">Product Price</label>
    <input type="text" class="form-control form-control-sm" id="ProductPrice" name="ProductPrice" required>
  </div>
  <div class="col-sm form-group">
    <label for="DiscountPrice">Discount Price</label>
    <input type="text" class="form-control form-control-sm" id="DiscountPrice" name="DiscountPrice" required onkeyup ="checkdicountrate(this)">
    <p id="discountrate" align="center" style="font-weight: bolder"></p>
  </div>
  
</div>
<div class="row">
  <div class="col-sm form-group">
    <label for="ProductSpecification">Product Specification</label>
    <input type="text" class="form-control form-control-sm" id="ProductSpecification" name="ProductSpecification" required>
  </div>
</div>

<div class="row">
  <div class="col-sm form-group">
    <label for="ProductWarranty">Product Warranty</label>
    <select class="form-control form-control-sm" id="ProductWarranty" name='ProductWarranty' required>
    <option selected disabled>Choose...</option>
    <option value="1">No Warranty</option>
    <option value="2">One Year</option>
    <option value="3">Two Year</option>
  </select>
  </div>

  <div class="col-sm form-group">
  	 <label for="ProductImage">Choose Image</label>
  	 <div class="custom-file">
      <input type="file" class="custom-file-input" name="file" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" required>
      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
     </div>
  </div>

  <div class="col-sm form-group">
     <label for="ProductImage1">Choose Image</label>
     <div class="custom-file">
      <input type="file" class="custom-file-input" name="file1" id="ProductImage1" aria-describedby="inputGroupFileAddon01" >
      <label class="custom-file-label" for="ProductImage1">Choose file</label>
     </div>
  </div>
</div>

  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Submit
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          You Are Inserting New Lights?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </div>
    </div>
  </div>
</div>



</form>
</div>
</div>


<button type="button" id="ProductAddedMessagebtn" class="btn btn-danger" data-toggle="modal" data-target="#ProductAddedMessage" hidden>Remove</button>
<div class="modal fade" id="ProductAddedMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Product Succsesfully Added
      </div>
      
    </div>
  </div>
</div>
{% if elem =='added'  %}
  <script type="text/javascript">
    function ProductAddedMessage(){
      var btn=document.getElementById('ProductAddedMessagebtn');
      btn.click()
    }
    ProductAddedMessage();
  </script>

{% endif %}






<button type="button" id="ProductAlreadyMessagebtn" class="btn btn-danger" data-toggle="modal" data-target="#ProductAlreadyMessage" hidden>Remove</button>
<div class="modal fade" id="ProductAlreadyMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Product Already Present
      </div>
      
    </div>
  </div>
</div>
{% if elem =='Already'  %}
  <script type="text/javascript">
    function ProductAlreadyMessage(){
      var btn=document.getElementById('ProductAlreadyMessagebtn');
      btn.click()
    }
    ProductAlreadyMessage();
  </script>

{% endif %}


<script type="text/javascript">
  function checkdicountrate(x){
    var ProductPrice =document.getElementById('ProductPrice').value
    var DiscountPrice=x.value;
    DiscountRate=100-((DiscountPrice/ProductPrice)*100);
    document.getElementById('discountrate').innerHTML=DiscountRate +"%";
  }
</script>


 {% endblock %} 