<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h4> Dear {{cname}},</h4>
<p style="font-size: 14px;color:green">
 <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;You are Successfully register with Lighthub .Go ahead & enlight your Dream space with us. Our Aim is  customer statisfaction and Engagment.</b></p>

<p style="color: green;font-size: 14px"><b>Thank you,</b></p>
<p align="center"><img align="center"   src="http://shaileshgupta596.pythonanywhere.com/static/images/emaillogo.PNG" alt="logo"></p>
<p style="color: red;font-size: 12px;font-weight: bold">This is System Generated Mail. Do not Reply.</p>

</body>
</html>