{% extends "commen_nav.html" %}
{% block body %}
<h2 align="center" style="color: white">Contact Us</h2>
<div class="row">
<div class="col-sm-3 shadow p-3 mb-5 bg-dark rounded">

<div class="nav flex-column nav-pills bg-dark" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Contact Number</a>
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Social Media </a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Email Address</a>
  <!--<a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Send Query</a>-->
  <a class="nav-link" id="v-pills-card-tab" data-toggle="pill" href="#v-pills-card" role="tab" aria-controls="v-pills-card" aria-selected="false">Company Card</a>
</div>

</div>
<div class="col-sm-9 shadow-sm p-3 mb-5 bg-white rounded">
	<div class="tab-content" id="v-pills-tabContent">

	  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
	  	<div class="container">
	  		<div class="row">

		  		<div class ="col-sm shadow-sm p-3 mb-5 bg-white rounded">
		 
		  			<div class="image" align="center">
		  			<image class="shadow-sm p-3 mb-5 bg-white rounded" src="../static/images/lights/call.png" style="width:200px;height: 200px;"></image>
		  			</div>
		  			<div class="p-3 mb-2 shadow-sm p-3 mb-5 bg-danger rounded bg-primary " style="text-align: center;color:white;"><b>Contact1: 8169056865</b>
		  			</div>

		  		</div>
		  		<div class ="col-sm shadow-sm p-3 mb-5 bg-white rounded">

		  			<div class="image" align="center">
		  			<image class="shadow-sm p-2 mb-5 bg-white rounded" src="../static/images/lights/call.png" style="width:200px;height: 200px;"></image>
		  			</div>
		  			<div class="p-3 mb-2 shadow-sm p-3 mb-5 bg-primary rounded bg-primary " style="text-align: center;color:white;"><b>Contact2: 8450909720</b>
		  			</div>

		  		</div>

	  		</div>
	  	</div>
	  </div>


	  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
	  	


	  		<div class="container">
	  		<div class="row">

		  		<div class ="col-sm-6 shadow-sm p-3 mb-5 bg-white rounded">
		 		
		  			<div class="image" align="center">
		  			<image class="shadow-sm p-3 mb-5 bg-white rounded" src="../static/images/lights/WhatsApp.png" style="width:150px;height:150px;"></image>
		  			</div>
		  			<div class="p-3 mb-2 shadow-sm p-3 mb-5 bg-success rounded bg-primary " style="text-align: center;color:white;"><b> 8169056865</b>
		  			</div>
		  		</div>
		  		<div class ="col-sm-6 shadow-sm p-3 mb-5 bg-white rounded">
		  		<a href="https://www.instagram.com/lighthub4/">
		  			<div class="image" align="center">
		  			<image class="shadow-sm p-2 mb-5 bg-white rounded" src="../static/images/lights/insta.jpg" style="width:150px;height: 150px;"></image>
		  			</div>
		  			<div class="p-3 mb-2 shadow-sm p-3 mb-5 bg-danger rounded bg-primary " style="text-align: center;color:white;"><b>@lighthub4</b>
		  			</div>
		  		</a>
		  		</div>
		  		<div class ="col-sm-6 shadow-sm p-3 mb-5 bg-white rounded">
		  			<a href="https://twitter.com/lighthub4">
		  			<div class="image" align="center">
		  			<image class="shadow-sm p-2 mb-5 bg-white rounded" src="../static/images/lights/twitter.png" style="width:150px;height: 150px;"></image>
		  			</div>
		  			<div class="p-3 mb-2 shadow-sm p-3 mb-5 bg-primary rounded bg-primary " style="text-align: center;color:white;"><b>@lighthub4</b>
		  			</div>
		  		</a>
		  		</div>
		  		<div class ="col-sm-6 shadow-sm p-3 mb-5 bg-white rounded">
		  			<a href="https://www.facebook.com/profile.php?id=100049708935870">
		  			<div class="image" align="center">
		  			<image class="shadow-sm p-2 mb-5 bg-white rounded" src="../static/images/lights/facebook.png" style="width:150px;height: 150px;"></image>
		  			</div>
		  			<div class="p-3 mb-2 shadow-sm p-3 mb-5 bg-primary rounded bg-primary " style="text-align: center;color:white;"><b>lighthub.com</b>
		  			</div>
		  		</a>

		  		</div>

	  		</div>
	  	</div>



	  </div>
	  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
	  	

	  	<div class="container">
	  		<div class="row">

	  			<div class ="col-sm-6 shadow-sm p-3 mb-5 bg-white">
		  			<div class="image" align="center">
		  			<image class="shadow-sm p-2 mb-5 bg-white rounded" src="../static/images/lights/email.png" style="width:200px;height: 200px;"></image>
		  			</div>
		  			<div class="p-3 mb-2 shadow-sm p-3 mb-5 bg-danger rounded bg-primary " style="text-align: center;color:white;"><b>lighthub4@gmail.com</b>
		  			</div>
		  			<p align="center"><b> Revert back with care within 2-3 days of working days</b></p>

		  		</div>
	  		</div>
	  	</div>


	  </div>
	  <!--
	  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab" style="color:white">
	  	<div class="container">
	  		<div class="row d-flex justify-content-center">

	  			<div class ="col-sm-6  bg-white rounded ">

		  			<div class="image" align="center">
		  			<image class="shadow-sm p-2 mb-5 bg-white rounded" src="../static/images/sendquery.jpg" style="width:100px;height: 100px;"></image>
		  			</div>

		  		</div>
	  		</div>



	  		<form method="post">
	  			<h5 align="center">Send Query</h5>
				  <div class="form-group">
				    <label for="exampleFormControlInput1">Email address</label>
				    <input type="email" class="form-control" id="exampleFormControlInput1" name="querymail" placeholder="name@example.com">
				  </div>
				 
				  <div class="form-group">
				    <label for="exampleFormControlTextarea1">Example textarea</label>
				    <textarea class="form-control" name="query" id="exampleFormControlTextarea1" rows="3"></textarea>
				  </div>
				  <button type="submit" class="btn btn-danger">Send Query</button>
			</form>
			<p align="center"><b> Revert back with care within 24 hrs of working days</b></p>

	  	</div>

	  </div>-->

	  <div class="tab-pane fade" id="v-pills-card" role="tabpanel" aria-labelledby="v-pills-card-tab" style="color:white">
	  		<div class="container">
	  		<div class="row">

		  		<div class ="col-sm shadow-sm p-3 mb-5 bg-white rounded">
		 
		  			<div class="image" align="center">
		  			<image class="shadow-sm p-3 mb-5 bg-white rounded" src="../static/images/card1.jpeg" style="width:200px;height: 200px;"></image>
		  			</div>
		

		  		</div>
		  		<div class ="col-sm shadow-sm p-3 mb-5 bg-white rounded">

		  			<div class="image" align="center">
		  			<image class="shadow-sm p-2 mb-5 bg-white rounded" src="../static/images/card2.jpeg" style="width:200px;height: 200px;"></image>
		  			</div>

		  		</div>

	  		</div>
	  	</div>
	  </div>
</div>
</div>
</div>


{% endblock %}