{% extends "commen_nav.html" %}
{% block body %}
<div class="row">
	<div class="col-sm-3 shadow-sm p-3 mb-5 bg-white rounded">
	<div class="nav flex-column nav-pills " id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active " id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Profile</a>
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Update Profile</a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Update Address</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Password Settings</a>
</div>
</div>


<div class="col-sm-9 shadow-sm p-3 mb-5 bg-white rounded">
<div class="tab-content" id="v-pills-tabContent">
  <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

		  	
  			<table class="table table-bordered " id="table" style="text-align: center;">
  				<thead>
  					<tr>
  						<th scope="col" colspan="2">Your Information</th>
  					</tr>
  				</thead>
  				<tbody>
  					<tr>
  						<td><b>Your Name</b></td>
  						<td id="customername">shailesh harinarayan Gupta</td>
  					</tr>
  					<tr>
  						<td><b>Your Email</b></td>
  						<td id="email">shaileshgupta596@gmail.com</td>
  					</tr>
  					<tr>
  						<td><b>Phone Number</b></td>
  						<td id="phonenumber">8452042116</td>
  					</tr>
  					<tr>
  						<th colspan="2"><b>Address</b></th>					
  					</tr>
  					<tr>
  						<td><b>Room No/Building</b></td>
  						<td id="uadd1">Not Updated</td>
  					</tr>
  					<tr>
  						<td><b>Locality/Area/Road</b></td>
  						<td id="uadd2">Not Updated</td>
  					</tr>
  					<tr>
  						<td><b>City/Village Name</b></td>
  						<td id="uadd3">Not Updated</td>
  					</tr>
  					<tr>
  						<td><b>District</b></td>
  						<td id="uadd4">Not Updated</td>
  					</tr>
  					<tr>
  						<td><b>State/Pincode</b></td>
  						<td id="uadd5">Not Updated</td>
  					</tr>

  				</tbody>
  			</table>


  </div>
  <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
  			<table class="table table-bordered " id="table" style="text-align: center;">
  				<thead>
  					<tr>
  						<th scope="col" colspan="2">Update Information</th>
  					</tr>
  				</thead>
  				<tbody>
  					<tr>
  						<td><b>Update Name</b></td>
  						<td >
  							<div class="row">
							  <div class="col-sm form-group">	
							    <form method="post" action="{{url_for('update_customer_name')}}">
							    <input type="text" class="form-control form-control-sm" id="customername" placeholder="Enter Your Name" aria-describedby="emailHelp" name="customername" required="required" style="text-align: center">
							    <br>
							    <button type="submit" class="btn btn-danger">Update</button>
								</form>
							</div>
							</div>
  						</td>
  					</tr>
  					<tr>
  						<td><b>Update Email</b></td>
  						<td >

								    <form method="post" action="{{url_for('update_customer_email')}}">
								    <input type="email" class="form-control form-control-sm" placeholder="Enter Email address" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required="required" style="text-align: center">
								    <br>
								    <button type="submit" class="btn btn-danger">Update</button>  
								</form>
								   
  						</td>
  					</tr>
  					<tr>
  						<td><b>Update Number</b></td>
  						<td >
  								<form method="post" action="{{url_for('update_customer_phone')}}">
							    
							    <input type="tel" class="form-control form-control-sm" id="exampleInputPhone" placeholder="Enter Your Updated Number" pattern="[0-9]{10}" name="phone_number" required="required" style="text-align: center">
							    <br>
							  	<button type="submit" class="btn btn-danger">Update</button>
							  </form>
  						</td>
  					</tr>
  					

  				</tbody>
  			</table>

  </div>



  <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
			  			<form method="post" action="{{url_for('address_update_process')}}">
				<h5 align="center">Update Address</h5>

			<div class="row">
			  <div class="col-sm form-group">	
			    <label for="add1">Room No/Building/Apartment Name /society Name</label>
			    <input type="text" class="form-control form-control-sm" id="add1" aria-describedby="emailHelp" name="add1" required="required">  
			  </div> 
			</div>
			<div class="row">
			  <div class="col-sm form-group">	
			    <label for="add2">Locality/Area Name/Landmark</label>
			    <input type="text" class="form-control form-control-sm" id="add2" aria-describedby="emailHelp" name="add2" required="required">  
			  </div> 
			  <div class="col-sm form-group">	
			    <label for="add3">City/Village and District Name</label>
			    <input type="text" class="form-control form-control-sm" id="add3" aria-describedby="emailHelp" name="add3" required="required">  
			  </div> 
			</div>
			<div class="row">
			  <div class="col-sm form-group">	
			    <label for="add4">State</label>
			    <input type="text" class="form-control form-control-sm" id="add4" aria-describedby="emailHelp" name="add4" required="required">  
			  </div> 
			  <div class="col-sm form-group">	
			    <label for="add5">Pincode</label>
			    <input type="tel" class="form-control form-control-sm" id="add5" aria-describedby="emailHelp" pattern="[0-9]{6}" name="add5" required="required">  
			  </div> 
			 </div>
			  <button type="submit"class="btn btn-danger" >Update</button>
			</form>





				  		


  </div>



  <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
  	<form method="post" action="{{url_for('update_password_form_penal')}}">
  	
  					<h5 align="center">Password Change</h5>
            <label for="oldPassword">Old Password</label>
            <input type="password" class="form-control form-control-sm" id="oldPassword" name="old_password">

				    <label for="exampleInputPassword1">New Password (Atleast 8 Character)</label>
				    <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" name="password"   onkeyup="CheckPassword()">
				    <p id="pass_validation" style="color: red"></p>
				  
				    <label for="exampleInputPassword2">Confirm Password</label>
				    <input type="password" class="form-control form-control-sm" id="exampleInputPassword2" name="cnf_password" onkeyup="password_match()" required="required">
				    <p id="pass_not_match" style="color: red"></p>
				  <button type="submit" id="reg_btn" class="btn btn-danger" disabled>Update</button>
				  </form>		

  </div>
</div>


</div>
</div>





<script>
	function password_match() {
		var pass1=document.getElementById('exampleInputPassword1').value;
		var pass2=document.getElementById('exampleInputPassword2').value;
		var pass_not_match=document.getElementById('pass_not_match');

		if(pass1!=pass2){
			pass_not_match.innerHTML="Password Not Match."
		}
		else{
			pass_not_match.innerHTML=""
		}

	}
	
	function CheckPassword() 
	{ 
	var pass1=document.getElementById('exampleInputPassword1');
	var pass_validation=document.getElementById('pass_validation');

	var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
		if(pass1.value.match(decimal)) 
		{ 
		pass_validation.innerHTML="";
		document.getElementById('reg_btn').disabled=false;
		}
		else
		{ 
		pass_validation.innerHTML="Must contain Atleast 1(upper,lower,Number,special) character";

		}
} 
</script>

<script type="text/javascript">
          function SeeDetails(){
            var url=localStorage.getItem("url");
          console.log('kjebjbfw;jebf;lwbef;lw');
          val1='{{username}}'
          $.post(url+"get_individual_customer_detail",{username:val1},
                
                function(response){
                  
                  //check if what response is 
                  console.log(response);
                  address=response['Info']['Address']
                  if (address == null){

                  }
                  else{
                  address=address.split('@')
                  //console.log(address)
                  document.getElementById('uadd1').innerHTML=address[0];
                  document.getElementById('uadd2').innerHTML=address[1];
                  document.getElementById('uadd3').innerHTML=address[2];
                  document.getElementById('uadd4').innerHTML=address[3];
                  document.getElementById('uadd5').innerHTML=address[4];
             	 }

                  document.getElementById('customername').innerHTML=response['Info']['CustomerName'];
                  document.getElementById('email').innerHTML=response['Info']['Username'];
                  document.getElementById('phonenumber').innerHTML=response['Info']['PhoneNumber'];
                  
                  
                  

                 
                  
          
              },"json");

        }
        SeeDetails();
    </script>
{% endblock%}