<!DOCTYPE html>
<html>
<head>
  <title>LightHuB</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{{url_for('static',filename='js/link.js')}}"></script>
</head>
<style>
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 40px;
  color: white;
}
</style>
<body>

<div class="container shadow-sm" style="margin-top: 50px">
<h3 id="heading1" align="center">Wait For Sometime .....</h3>
<br>
<br>
<div id="myProgress">
  <div id="myBar">10%</div>
</div>

<br>
<button id="pro_btn" hidden onclick="move()">Click Me</button>
<div id="gt" style="display: none"> 
<h2 align="center">Your Order Has been Successfully Placed.</h2>
<h5 align="center">Thank You</h5>
<p align="center" style="font-size: 15px;font-weight: bolder;"><b>>>>>>></b>Our Product Service Team Reach to You  for Final Confirmation.<b><<<<<<<</b></p>
<p align="center">See Your Product In<a href="#"> Orders</a></p>
</div>
</div>

<script>
var i = 0;
function move() {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("myBar");
    var width = 10;
    var id = setInterval(frame, 100);
    function frame() {
      if (width >= 100) {
        clearInterval(id);
        i = 0;
        document.getElementById('myProgress').style.display='none';
        document.getElementById('pro_btn').style.display='none';
        document.getElementById('heading1').style.display='none';
        document.getElementById('gt').style.display='block';
      } else {
        width++;
        elem.style.width = width + "%";
        elem.innerHTML = width  + "%";
      }
    }
  }
}
document.getElementById('pro_btn').click();
</script>
<script type="text/javascript">
  function OrderIDFunction() {
    var url=localStorage.getItem("url");
     var d = new Date();
      var OrderID = d.getTime();
      $.post(url+"finalpage_process",{OrderID:OrderID},
                
                function(response){
                  console.log(response);
                  
          
              },"json");

  }
  OrderIDFunction();
</script>

</body>
</html>
