{% extends "commen_nav.html" %}
{% block body %}
<style type="text/css">
 table {
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}</style>
<div class="row">
<table class="table shadow " style="width:100%;">
  <thead>
    <tr align="center">
      <th scope="col" colspan="7" >Your Orders <img src="../static/images/list.png" style="width:50px;height: 50px;border-radius: 50%"></th>     
    </tr>   
    <tr align="center">
      <th scope="col">Sr.No</th>
      <th scope="col">OrderID</th>
      <th scope="col">Cancel Order</th>
      <th scope="col">Order Date</th>
      <th scope="col" colspan="3">OrderConfirmation/Packed.Dispatch/deliverd</th>
    </tr>
  </thead>
  <tbody style="font-size: 14px;" id="yourorderstable">
    <tr align="center">
      <th scope="col" class="counterCell"></th>
      <th style="font-weight: bolder;font-size: 15px" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn ">VLH293846928639236</th>
      <td><button type="button" class="btn btn-danger btn-sm"><b>Cancel Orders</b></button></td>
      <td> 21 JAN 2018, 13:11:02</td>
      <td colspan="3">OrderConfirmation/Packed.Dispatch/deliverd</td>
    </tr>
    
  </tbody>
</table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">VLH293846928639236</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table " style="width:100%;">
  <thead>
    <tr align="center">
      <th scope="col" colspan="5" >Order Details <img src="../static/images/list.png" style="width:30px;height: 30px;border-radius: 50%"></th>     
    </tr>   
    <tr align="center">
      <th scope="col">Sr.No</th>
      <th scope="col">Product</th>
      <th scope="col">Price & Spec</th>
      <th scope="col">ProductCount</th>
      <th scope="col">Total Price</th>
      
    </tr>
  </thead>
  <tbody style="font-size: 14px;" id="Indivial_order_detailstable">
    <tr align="center">
      <th scope="col" class="counterCell"></th>
      <td><img src="../static/images/avatar.png" style="width:50px;height: 50px;border-radius: 50%"><br> Philips</td>
      <td><b>100Rs</b><br>kj jkbks kjbajkab</td>
      <td> 2</td>
      <td> 200 Rs</td>
    </tr>

    
  </tbody>
</table>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4> Are You sure You want to cancel Order?</h4>
        <ol style="font-weight: bold;">
          <li style="color: green;margin: 10px;">Your Amount Will Be Refunded within 7-8 days.</li>
          <li style="color: green;margin: 10px;">
            Delivery Charges Will be Deducted From Redfund Amount.
          In case of any refund issue you can contact us Infomation given ContactUs Page. 
          </li>
          <li style="color: red;margin: 10px;">
            After (Confirmation/25% payment) of Order You are allowed to cancel "Product Order" within 72 hrs of Order Confirmation then Only total amount will be Refunded. 
          </li>
          <li style="color:red;margin: 10px;">
            If you cancel Order After 72hrs of Order (Confirmation/25% payment) No Amount Will Be Refunded.
          </li>
          <li>
            For More Read <a href="{{url_for('TermsandConditionandPrivacyPolicy')}}">Terms And Condition .</a>
          </li>
        </ol>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <form method="post" action="{{url_for('cancel_order')}}"><input type="text" value="" id="cancel_order_input" name="OrderID" hidden>

        <button type="submit" class="btn btn-danger">Cancel Order</button>
      </form>
      </div>
    </div>
  </div>
  </div>





<script type="text/javascript">
  function customer_orders() {
    var url=localStorage.getItem("url");
    var username= '{{username}}'
    //console.log(username);
    var yourorderstable = document.getElementById('yourorderstable');
    $.post(url+"customer_orders",{username:username},
                
                function(response){
                  console.log(response);
                  var Info=""
                  for(var i=0;i<response['Info'].length;i++){
            if (response['Info'][i]['OrderConfirmation']!="-"){
                    Info=Info+ '<tr align="center"><th scope="col" class="counterCell"></th><th style="font-weight: bolder;font-size: 15px" data-toggle="modal" data-target=".bd-example-modal-lg" orderid='+response['Info'][i]['OrderID']+' onclick="orderopenmodal(this)" class="btn ">'+response['Info'][i]['OrderID']+'</th><td><button onclick="cancelconfirmation(this)" orderid='+response['Info'][i]['OrderID']+' type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter"><b>Cancel Orders</b></button></td><td>'+response['Info'][i]['OrderDate']+'</td><td colspan="3" style="color:green;font-weight:bolder;">'+response['Info'][i]['OrderConfirmation']+'<br>Order confirm At '+response['Info'][i]['oct']+'</td></tr>'
                  }
                  
               

                else{
                  Info=Info+ '<tr align="center"><th scope="col" class="counterCell"></th><th style="font-weight: bolder;font-size: 15px" data-toggle="modal" data-target=".bd-example-modal-lg" orderid='+response['Info'][i]['OrderID']+' onclick="orderopenmodal(this)" class="btn ">'+response['Info'][i]['OrderID']+'</th><td>     <button onclick="cancelconfirmation(this)" orderid='+response['Info'][i]['OrderID']+' type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalCenter"><b>Cancel Orders</b></button><br></td><td>'+response['Info'][i]['OrderDate']+'</td><td colspan="3" style="color:green;font-weight:bolder;">'+response['Info'][i]['OrderConfirmation']+'</td></tr>'
                }//end if


                  }//for loop
                  yourorderstable.innerHTML=Info;
          
              },"json");


  }
  customer_orders();
</script>


<script type="text/javascript">
  function orderopenmodal(x) {
    OrderID=x.getAttribute('orderid');
    var url=localStorage.getItem("url");
    var Indivial_order_detailstable = document.getElementById('Indivial_order_detailstable');
    document.getElementById('exampleModalLabel').innerHTML=OrderID;
    $.post(url+"Indivial_order_details",{OrderID:OrderID},
                
                function(response){
                  console.log(response);
                  var Info="";
                  var save=0
                  var final_amount=0;
                  for(var i=0;i<response['Info'].length;i++){
                    
                    save=response['Info'][i]['ProductPrice']-response['Info'][i]['DiscountPrice']

                  Info=Info + '<tr align="center"><th scope="col" class="counterCell"></th><td><img src="'+response['Info'][i]['ProductImageAddress']+'" style="width:50px;height: 50px;border-radius: 50%"><br><b>'+response['Info'][i]['ProductName']+'</b></td><td><b>Rs.<s style="color:gray;font-size:11px;">'+response['Info'][i]['ProductPrice']+'</s>'+response['Info'][i]['DiscountPrice']+'</b><p style="font-size:12px;"><b><span style="color:orange">('+response['Info'][i]['DiscountRate']+'%)</span><span style="color:green">Saved Rs.'+save+'</span></b></p>'+response['Info'][i]['ProductSpecification']+'</td> <td>'+response['Info'][i]['pcount']+'</td><td><b>Rs. '+response['Info'][i]['pcount']*response['Info'][i]['DiscountPrice']+'</b></td></tr>';

                  final_amount=final_amount+(response['Info'][i]['pcount']*response['Info'][i]['DiscountPrice'])
                }
                Info=Info+'<tr><td colspan="4"></td><th align="center">final Amount: Rs'+final_amount+'.00</th></tr>'
                  Indivial_order_detailstable.innerHTML=Info;
          
              },"json");

    
  }
</script>
<script type="text/javascript">
  function cancelconfirmation(x){
    OrderID=x.getAttribute('orderid');
    document.getElementById('exampleModalLongTitle').innerHTML=OrderID;
    document.getElementById('cancel_order_input').setAttribute('value',OrderID);
  }
</script>
{% endblock %}