<!DOCTYPE html>
<html>
<head>
	<title>Password changeS</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<style>
	#Register_box{

	}
	label{
		font-size: 12px;
	}
</style>

<div class="container">

	{% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}

      {% if message == "OTP has been send to your Email" %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      {{message}}
      </div>
    {% endif %}


    {% if message != "OTP has been send to your Email" %}
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      {{message}}
      </div>
     {% endif %}
     
    {% endfor %}
    {% endif %}

  {% endwith %}



	<div class="row justify-content-center" style="margin-top:10px" id="Register_box">
		<div class="col-sm-6 shadow p-3 mb-5 bg-white rounded justify-content-md-center" >

	<form method="post" action="">
	<h5 align="center">Change Password</h5>
<div class="row">
  <div class=" col-sm form-group">
    <label for="exampleInputPhone">Enter OTP Number</label>
    <input type="text" class="form-control form-control-sm" id="exampleInputPhone"  name="otp" required="required">
  </div>
</div>
<div class="row">
  <div class="col-sm form-group">
    <label for="exampleInputPassword1">New Password (Atleast 8 Character)</label>
    <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" name="password"   onkeyup="CheckPassword()">
    <p id="pass_validation" style="color: red"></p>
  </div>
  <div class="col-sm form-group">
    <label for="exampleInputPassword2">Confirm Password</label>
    <input type="password" class="form-control form-control-sm" id="exampleInputPassword2" name="cnf_password" onkeyup="password_match()" required="required">
    <p id="pass_not_match" style="color: red"></p>
  </div>
 </div>
  
  <button type="submit" id="reg_btn" class="btn btn-primary" disabled>Change Password</button>
</form>


</div>
</div>



</div>

<script>
	function password_match() {
		var pass1=document.getElementById('exampleInputPassword1').value;
		var pass2=document.getElementById('exampleInputPassword2').value;
		var pass_not_match=document.getElementById('pass_not_match');

		if(pass1!=pass2){
			pass_not_match.innerHTML="Password Not Match."
		}
		else{
			pass_not_match.innerHTML=""
		}

	}
	
	function CheckPassword() 
	{ 
	var pass1=document.getElementById('exampleInputPassword1');
	var pass_validation=document.getElementById('pass_validation');
	var decimal=  /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,15}$/;
		if(pass1.value.match(decimal)) 
		{ 
		pass_validation.innerHTML="";
		document.getElementById('reg_btn').disabled=false;
		}
		else
		{ 
		pass_validation.innerHTML="Must contain Atleast 1(upper,lower,Number,special) character";

		}
} 
</script>

</body>
</html>