{% extends "commen_nav.html" %}
{% block body %}
<div class="container shadow-sm">
	<h1 align="center">CANCELLATION, RETURN & EXCHANGE</h1>
	<hr>
	<article>
		<h5>Returns:</h5>
		<ul>
			<li>If you would like to return a product, no questions asked, Light Hub  will charge you a 15% re-stocking fee.</li>
			<li>
You can request a return only within 24 hours of receiving the product.
Products need to be returned using your own courier in its original packaging.</li>
<li>
Please write to us at www.lighthub4@gmail.com, or call us on our support numbers, and we will contact you within 24 hours of receiving your request.
</li>
<li>
It takes 3-5 working days for us to refund once the product reach us in the good condition.
</li>
<li>
Products should be returned in their original packaging along with the original price tags, barcodes, labels, user manual, warranty card and invoices etc.
</li>
<li>
It is advised that the return packets should be strongly and adequately packaged so that there is no further damage of products during transit.
</li>
<li>
The returned products are subject to verification and checks by Light Hub in order to determine the legitimacy of the return.
</li>
<li>
Any products returned in a damaged condition will not be refunded.</li>

		</ul>

	</article>

<hr>
	<article>
		<h5>Exchange:</h5>
		<ul>
			<li>If you have received a damaged/defective/incorrect product, please get in touch with the customer service by email at www.lighthub4@gmail.com  or contact us at the given number below - within 24 hours of delivery.</li>
			<li>
On receiving Your complaint, Light Hub shall verify the authenticity and the nature of the complaint and if Light Hub is convinced that the complaint is genuine, Light Hub will start initiate the replacement process.</li>
<li>
In order to exchange the product, you are required to comply with the below mentioned conditions:</li>

	<ul>
<li>Please notify Light Hub of receipt of a damaged/defective/incorrect product within 24 hours of delivery to you. If you are unable to do so within 24 hours, Light Hub shall not be held liable for the failure to replace the order.</li>
<li>
Products should be unused.</li>
<li>
Light Hub will arrange pick-up of the damaged/defective/incorrect Product through its logistics partner. If Light Hub is unable to do so, Light Hub will notify You regarding the same and you will be required to dispatch the product using a reputed courier in your respective area within one day from receipt of such notice. Courier freight charges will be reimbursed in such form as is determined by the logistics team upon consultation with Light Hub.</li>
<li>
Products should be returned in their original packaging along with the original price tags, barcodes, labels, user manual, warranty card and invoices etc.</li>
<li>
It is advised that the return packets should be strongly and adequately packaged so that there is no further damage of products during transit.
</li>
<li>
The returned Products are subject to verification and checks by Light Hub in order to determine the legitimacy of the complaint. If the claim is not legitimate, you will be required to bear the shipping costs for the product.</li>
<li>
Once the product is received by Light Hub the replacement product will be dispatched to you within 24 hours.</li>
</ul>

		</ul>
		
	</article>

<hr>
	<article>
		<h5>Cancellation:</h5>
		<ul>
			<li>An order cannot be cancelled once confirmed. You can modify an order (with products of the same or more value) within 24 hours, provided the order has not been shipped.</li>
			<li>If you want to modify your order (within 24 hours) before the order has been shipped, please call the customer service number 8169056865 or please send us an email at www.lighthub4@gmail.com with the new product details (name, color, price, size).</li>
		</ul>
	</article>
	<br>
	<br>
</div>
{% endblock %}